* {
  font-size: 16px;
  list-style: none;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

#app {
  height: 100vh;
  width: 100%;
  text-align: center;
}

#homeApp  {
display: flex;
flex-direction: column;
justify-content: center; 
}

.hide {
  display: none;
}


#registerButton, #loginButton, #logoutButton, #addButton, 
#cancelAddProgressButton, #updateProgressButton, #cancelProgressButton {
  display: block;
  margin: 20px auto;
}

.registrationForm, .loginForm, .addProgressFormClass, .editProgressFormClass{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 1px solid #0f0a0a;
  border-radius: 10px;
}

.registrationForm input, .loginForm input, .addProgressForm input{
  margin-bottom: 10px;
  height: 26px;
}

.registrationForm label, .loginForm label, .addProgressForm label{
  font-size: 18px;
  font-weight: bold;
}

#mainTitle {
  font-size: 26px;
  margin-bottom: 20px;
}

#startPage {
  margin: 20px auto;
  width: 100%;
  padding: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border: 1px solid #0f0a0a;
  border-radius: 10px;
}

#progressContainer {
  justify-content: center; 
  width: 100%;
  padding: 0;
  padding-bottom: 1rem;
}

#progressContainer ul {
  max-height: calc(5 * (4.5rem));
  width: 100%;
  margin: 20px auto;
  padding: 0rem;
  border: 1px solid #0f0a0a;
  border-radius: 10px;
  overflow-y: scroll;
}


#progressContainer li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #0f0a0a;
  width: 100%;
  height: 4.5rem;
  
}

.addProgressFormClass, .editProgressFormClass  { 
  width: 90%;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  margin-bottom: 2rem;
}

#editProgressButtons, #addProgressButtons {
  display: flex;
  justify-content: space-between;
  margin-left: 20%;
  margin-right: 20%;
}
