#app {
  text-align: center;
}

.hide {
  display: none;
}

* {
  font-size: 16px;
}

h1 {
  font-size: 26px;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-top: 0;
}

#registerButton, #loginButton {
  display: block;
  margin: 20px auto;
}

.registrationForm, .loginForm{
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem;
  border: 1px solid #0f0a0a;
  border-radius: 10px;
}

.registrationForm input, .loginForm input{
  margin-bottom: 10px;
  height: 26px;
}

.registrationForm label, .loginForm label{
  font-size: 18px;
  font-weight: bold;
}

